{% extends 'main.html' %}{% block content %}

<div class="layout layout--messaging">
    <div class="container">
        <div class="messaging__sidebar">
            <div class="header__msg-sidebar">
                <div>
                    <form action="" method="GET" class="header__search">

                    </form>
                </div>
                <div class="btn">
                    <p>+</p>
                </div>
            </div>
            <div class="messaging--sidebar__chats">
                <div><p>CHAT HISTORY</p></div>
                <div><p>CHAT HISTORY</p></div>
                <div><p>CHAT HISTORY</p></div>
            </div>
        </div>

        <div class="messaging__content__container">
            <div class="messaging__userinfo__container">
                <div class="messaging__userinfo__photo">
                    <p>PIC</p>
                </div>
                <div class="messaging__userinfo__name">
                    <p>USER NAME</p>
                </div>
                <div class="messaging__userinfo__status">
                    <p>Online</p>
                </div>
            </div>
            <div class="privatechat__content__messages">
                <div><p>CHAT HISTORY</p></div>
                <div><p>CHAT HISTORY</p></div>
                <div><p>CHAT HISTORY</p></div>
            </div>
            <div class="privatechat__message">
                <input type="text" placeholder="Enter your message...">
            </div>
        </div>
    </div>
</div>

{% endblock %}
